#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 100px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
nav {
  display: flex;
  position: fixed;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  gap: 70px;
  justify-content: center;
  background-color: rgba(30, 26, 26, 0.9); 
  border-radius: 15px;
  padding: 20px 40px; 
  z-index: 1000; 
  width: auto; 
  border-radius: 0 0 10px 10px
}
.content {
  text-align: left;
  margin: 30px;
  color: #FFEBD7;
  font-size: 15;
}
.setUp {
  display: block;
  margin: 30px;
  color: #FFEBD7;
  width: 200px;
  height: 50px;
  border-radius: 10px;
}
.nextBtn {
  background-color: #103D81;
   color: #FFEBD7;
   border-radius: 25px;
   width: 150px;
   display: block;
   margin: 30px;
   height: 50px;
   border: none;
   opacity: 100;
   cursor: pointer;
}
.nextBtn:hover {
  background-color: green;
}